@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}

@section styles{
    <style>
        .error {
            color: #f00;
        }
    </style>
}

<hgroup>
    <h2 class="bg-danger">系统在处理您的请求时发生了错误，请联系管理员。</h2>
</hgroup>
