/**
 *
 * Apply your custom CSS here
 *
*/

.sidebar-menu{
    width: 240px;
}

.field-validation-error {
    display: block;
    padding-top: 5px;
    font-size: 12px;
    color: #cc3f44;
}

.input-validation-error {
    border-color: #cc3f44 !important;
    color: #cc3f44 !important;
}

/*解决导航条bug*/
.user-info-navbar .user-info-menu > li > a {
    border: none !important;
}

/*登录页验证错误样式*/
.login-form .input-validation-error {
    border-color: rgba(204, 63, 68, 0.5) !important;
}

.login-form .field-validation-error {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    padding-right: 12px !important;
    font-size: 12px !important;
    line-height: 40px !important;
    color: rgba(255, 255, 255, 0.7) !important;
    padding-top: 0px; /* override the padding-top of .field-validation-error  */
}


/*详细信息页dt,dd*/
.dl-horizontal dt, .dl-horizontal dd {
    line-height: 2em;
}

#data_table form{
    display:inline-block;
}